//
   Created by Pasidu on 5/5/2015.

.container
    .page-header.text-center
        h1
            span.fa.fa-anchor
            | Profile Page
        a.btn.btn-default.btn-sm(href='/logout') Logout
        .row
            // LOCAL INFORMATION
            .col-sm-6
                .well
                    h3
                        span.fa.fa-user
                        | Local
                    | &#x9;&#x9;&#x9;&#x9;&#x9;
                    p
                        strong id
                        | :


