//
   Created by Pasidu on 5/1/2015.

.row
    .col-md-9
        .row(data-ng-repeat='rowData in rowsData')
            .col-md-1.no-padding(style = 'width :20px;')
                |{{$index+1}}.
            .col-md-8.no-padding
                p(ng-click='enter()' ng-show)
                    |{{rowData.value}}
            .col-md-3
                span.icon.edit(ng-show="readonly")
                    i.fa.fa-pencil-square-o(ng-click="edit(data)")
                span.icon.delete(ng-show="readonly")
                    i.fa.fa-trash(ng-click="delete(data)")
                span.icon.add(ng-hide='readonly')
                     i.fa.fa-plus(ng-click="add(data)")
.form-group
    .row
        .col-md-6
            textarea#recipeInstructions.form-control.lk-textarea(rows='1', cols='50', ng-model='data.value', value='{{data.value}}')
            //ol
            //    li(data-ng-repeat='rowData in rowsData')
            //        .container
            //            .row.no-padding.no-margin-hor.no-margin-ver
            //                .col-md-10
            //                    p
            //                        | {{rowData.value}}
            //                .col-md-1
            //                    span.icon.edit(ng-show="readonly")
            //                        i.fa.fa-pencil-square-o(ng-click="edit(data)")
            //                    span.icon.delete(ng-show="readonly")
            //                        i.fa.fa-trash(ng-click="delete(data)")
            //                    span.icon.add(ng-hide='readonly')
            //                         i.fa.fa-plus(ng-click="add(data)")


