.row
    .col-md-9
        .row.margin-top-bottom-5(data-ng-repeat='rowData in rowsData')
            .col-md-1.no-padding(style = 'width :20px; padding-right:5px;').text-right
                |{{$index+1}}.
            .col-md-8.no-padding
                p(ng-click="enter(rowData, 'recipeInstructions'+$index)", ng-hide='rowData.editMode')
                    |{{rowData.value}}
                textarea.form-control.input-sm.lk-textarea(cols='50', id='recipeInstructions'+'{{$index}}' ,ng-model='rowData.value', value='{{rowData.value}}', ng-show='rowData.editMode', ng-keyup='keyPress($event, rowData)', ng-blur='leave(rowData)')
            .col-md-3
                span.icon.delete(ng-hide='rowData.editMode')
                    i.fa.fa-trash(ng-click="delete($index)")
        .row
            .col-md-1.no-padding(style = 'width :20px;')
            .col-md-8.no-padding
                textarea#newRecipeInstruction.form-control.input-sm.lk-textarea(cols='50', ng-model='newInstruction', value='{{newInstruction}}', ng-keyup='addNewInstruction($event)', ng-blur='addNewInstruction(undefined)', placeholder='Ex: Dice all the onions')




