div.login-modal
    .modal-header
        h3.modal-title.text-center Upload Picutre
    .modal-body
        .container
            .form-group
                .row
                    .col-md-2
                        label(for='recipePhoto') Select Image
                    .col-lg-4
                        input#recipePhoto.form-control(type='file', lk-selected='selectedFile')
                .row.top-buffer-20
                    .col-md-6
                        .cropArea
                            img-crop(image='selectedFile.DataURL', result-image='croppedImage')
                    .col-md-1
                    .col-md-5
                        img(ng-src='{{croppedImage}}')

                .row.top-buffer-20
                    .col-md-5
                        button.btn.btn-default.pull-right(type='submit' ng-click="done()") OK
                    .col-md-2
                        button.btn.btn-default(type='submit' ng-click="cancel()") Cancel



