doctype
html
    head
        title Lankan Recipe - 
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/vendors/font-awesome/css/font-awesome.css")
        link(rel="stylesheet", href="/vendors/bootstrap-social/bootstrap-social.css")
        link(rel="stylesheet", href="/vendors/ngImgCrop/compile/unminified/ng-img-crop.css")
        script(type="text/javascript", src="/vendors/jquery/dist/jquery.js")
        script(type="text/javascript", src="/vendors/bootstrap/dist/js/bootstrap.js")
        script(type="text/javascript", src="/vendors/angular/angular.js")
        script(type="text/javascript", src="/vendors/angular-resource/angular-resource.js")
        script(type="text/javascript", src="/vendors/angular-route/angular-route.js")
        script(type="text/javascript", src="/vendors/angular-ui-bootstrap/ui-bootstrap-tpls-0.12.1.js")
        script(type="text/javascript", src="/vendors/ngImgCrop/compile/unminified/ng-img-crop.js")
        base(href="/")
    body(ng-app='app')
        block main-content
        include scripts