
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/mvMainCtrl.js")
script(type="text/javascript", src="/app/tabs/tabBarCtrl.js")
script(type="text/javascript", src="/app/tabs/menuCtrl.js")
script(type="text/javascript", src="/app/recipe/recipeCtrl.js")
script(type="text/javascript", src="/app/recipe/recipeEditCtrl.js")
script(type="text/javascript", src="/app/recipe/recipeEditCtrl.js")
script(type="text/javascript", src="/app/recipe/recipeDetailCtrl.js")
script(type="text/javascript", src="/app/recipe/recipePictureUploadCtrl.js")
script(type="text/javascript", src="/app/myKitchen/myKitchenCtrl.js")
script(type="text/javascript", src="/app/directive/lkRow.js")
script(type="text/javascript", src="/app/directive/lkRowGroup.js")
script(type="text/javascript", src="/app/directive/lkIngredientRow.js")
script(type="text/javascript", src="/app/directive/lkIngredients.js")
script(type="text/javascript", src="/app/directive/lkSelectedFile.js")


